html {
	background-color: #fefef4;
	font: sans-serif;
	margin: 0 auto;
}
body { margin: 0; }

button {
	color: #fff;
	background-color: #ee82ee;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px;
	border: none;
	cursor: pointer;
	border-radius: 2px;
	padding: 3px 7px;
	margin: 10px 10px;

}
button:hover {
	background-color: #f134ce;
	color: #fff;

}

header {
	background-color: hsl(187, 70%, 41%);
	height: 110px;
	text-align: center;
}
h1 {
	color: #fff;
	font-size: 40px;
	text-shadow: 4px 4px #458177;
	padding-top: 15px;
	margin: 0 auto;
}

header p {
	color: #fff;
	font-size: 12px;
}

select {
	margin-left: 20px;
}
.main {
	height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.dog-img {
	display:block;
	height: 350px;
	padding: 4px;
	margin: 30px;
	background-color: #f8f4e2;
}
.dogs {
	display:block;
	height: 350px;
	padding: 4px;
}

.doglist-images {
	display:block;
	height: 180px;
	padding: 4px;
	margin: 10px 20px;
	background-color: #f8f4e2;
}

.container
{
	width: 900px;
	margin: 0 auto;
}
.dogimage_container
{

	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
}

